body {
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    min-width: 1200px;
    background-color: #0D1B2E;
}

p {
    margin: 0px;
}

.title {
    color: white;
    background-color: #0D1B2E;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.tray {
    color: white;
    background-color: #429890;
    margin: 40px, 0px;
    padding-bottom: 5px;
}
.score, .timer, #button {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;

}

#button {
    padding: 1em 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: #E95D0F;
    background: white;
    border: 10px solid #E95D0F;
}

#button:hover {
    color: white;
    background-color: #E95D0F;
}

#main {
    background-color: #0D1B2E;
    width: 100%;
    height: 480px;

}

form {
    display: inline-block;
}
#myCanvas {
    background-color: #3976CC;
}


.scoreboard {
    display: inline-block;
    color: white;
    width: 150px;
    position: relative;
    top: -130px;
    left: -190px;
}