body {
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

p {
    margin: 0px;
}

.title {
    color: white;
    background-color: #0D1B2E;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.tray {
    color: white;
    background-color: #429890;
    margin: 40px, 0px;
}
.score, .timer, #button {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;

}

#button {
    padding: .5em 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: #E95D0F;
    background: white;
    border: 10px solid #E95D0F;
}

#button:hover {
    color: white;
    background-color: #E95D0F;
}


.shooting-range {
    display: block;
    background-color: #0D1B2E;   

}

#myCanvas {
    background-color: #3976CC;
}

.main {
    display: inline-block;
}

.scoreboard {
    color: white;
    background-color: #0D1B2E;
    width: 150px;
    height: 480;
}