body {
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    width: 100%;
    height: 1080px;
    min-width: 1478px;
    background-color: #0D1B2E;
}

p {
    margin: 0px;
}

.title {
    color: white;
    background-color: #0D1B2E;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;

}
div {
    display: inline-block;
}
.tray {
    color: white;
    background-color: #429890;
    width: 100%;
    height: 70px;
}
.score, .timer, #start {
    top: 50%;
    margin-left: 50px;
    margin-right: 50px;

}

form {
    width: 350px;
    height: inherit;
}
input {
    height: 35px;
    margin-right: 5px;
}

#submit {
    font-size: x-small;
    float: right;
    vertical-align: top;
}
.field {
    float: left;
    width: 100px;
    vertical-align: top;
}


button {
    top: 50%;
    padding: 1em 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background: #E95D0F;
    border: 10px solid #E95D0F;
}

button:hover {
    color: #E95D0F;
    background-color: white;
}

#main {
    background-color: #0D1B2E;
    width: 100%;
    height: 480px;
    display: inline-block;
}

form, #myCanvas, .scoreboard {
    margin-left: 50px;
    margin-right: 50px;
    height: inherit;
    vertical-align: top;
    top: 0px;
}

.scoreboard, form{
    margin-top: 30px;
}

.scoreboard {
    float: left;
}

form {
    width: 200px;
    float: right;

}

#myCanvas {
    background-color: #3976CC;
}


.scoreboard {
    color: white;
    width: 150px;
}

form {
    color: white;
}

ol {
    padding-inline-start: 0px;
}

li {
    display: flex;
    justify-content: space-between;
}